<!-- Navigation -->
<nav class="api__nav">
    <ul class="api__list">
        <li class="api__items"><a class="api__links" href="/"
                <%- title === 'Home' ? 'style="background: #201e1f; color: #fff; border-radius: 3px;"' : '' %>>Home</a>
        </li>
        <li>

            <a class="api__links" href="/result"
                <%- title === 'Result' ? 'style="background: #201e1f; color: #fff; border-radius: 3px;"' : '' %>>Result</a>
        </li>
    </ul>
</nav>